* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #edf2fc;
  --txt-color: #212121;
  --hover-color: #ff4321;
  --p-color: #989899;
  --btn-color: #edf2fc;
  --ver: #737373;
  --github: rgb(0, 0, 0);
  --x: rgb(0, 0, 0);
}

.Dark-mode {
  --bg-color: #202124;
  --txt-color: #fff;
  --btn-color: #212121;
  --github: white;
  --x: white;
}

#icon {
  width: 30px;
  cursor: pointer;
}

nav ul {
  flex: 1;
  text-align: right;
}

.hero {
  background-color: var(--bg-color);
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
  position: relative;
}

.logo {
  width: 3em;
}

nav {
  width: 84%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--txt-color);
}

nav ul li a:hover {
  color: var(--hover-color);
}

.info {
  margin-left: 8%;
  margin-top: 15%;
}

.info h1 {
  font-size: 60px;
  color: var(--txt-color);
  margin-bottom: 20px;
  font-family: "Courier New", Courier, monospace;
}

span {
  color: var(--hover-color);
}

.info p {
  font-size: 15px;
  color: var(--p-color);
  line-height: 25px;
}

.btn {
  background: linear-gradient(to right, #ff4321, #ff846e);
  padding: 10px 18px;
  text-decoration: none;
  color: var(--btn-color);
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.btn:hover {
  background: linear-gradient(to right, #fb5538, #ff7259);
}

.social-links {
  margin-left: 8%;
  margin-top: 90px;
  position: absolute;
  bottom: 1%;
}

.social-links a {
  font-size: 30px;
  color: var(--p-color);
  margin-right: 30px;
  text-decoration: none;
}

.social-links .fa-x-twitter:hover {
  color: var(--x);
}

.social-links .fa-instagram:hover {
  color: #cd486b;
}

.social-links .fa-facebook:hover {
  color: #3b5998;
}

.social-links .fa-github:hover {
  color: var(--github);
}
.social-links .fa-linkedin:hover {
  color: #0077b5;
}
.vc p {
  color: var(--ver);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em;
}

.A-body {
  color: var(--txt-color);
  background-color: var(--bg-color);
}

.menu-exp {
  display: none;
}

.closebtn {
  display: none;
}

.logo-out {
  display: none;
}

.alert_container {
  position: fixed;
  top: 20px;
  left: 30%;
  transform: translateX(-50%);
  background-color: var(--bg-color);
  color: var(--txt-color);
  width: fit-content;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--hover-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.alert_container.hide {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%) translateY(-20px);
}

.notification {
  font-size: 1rem;
  flex: 1;
}

.sub1 {
  font-weight: bold;
  margin-right: 5px;
}

.alert_container i {
  font-size: 1rem;
  cursor: pointer;
  margin-left: 10px;
  transition: transform 0.2s ease;
}

.alert_container i:hover {
  transform: scale(1.1);
  color: var(--hover-color);
}

.fa-wand-magic-sparkles {
  margin-right: 0.5rem;
}

.alert_container a {
  text-decoration: none;
  color: var(--txt-color);
}

@media (max-width: 500px) {
  .alert_container {
    font-size: 0.9rem;
    left: 50%;
    width: 90%;
    padding: 10px;
    top: auto;
    bottom: 100px;
    transform: translateX(-50%);
  }

  .alert_container.hide {
    transform: translateX(-50%) translateY(20px);
  }
  nav ul li a {
    display: none;
  }

  .social-links {
    position: absolute;
    bottom: 4%;
    left: 3%;
  }

  .info {
    margin: 20px;
    margin-left: 8%;
    margin-top: 15%;
  }
  .info h1 {
    font-size: 35px;
  }

  .vc p {
    font-size: xx-small;
  }
  .logo {
    display: none;
  }

  .logo-out {
    display: block;
    position: absolute;
    margin-left: 8%;
    margin: 10px 20px;
    width: 3em;
  }

  .menu-exp {
    display: block;
    flex: 1;
    text-align: right;
    padding: 5px;
  }

  nav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
  }

  nav ul li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    color: var(--txt-color);
    transition: 0.3s;
    display: block;
  }

  nav ul li a:hover {
    color: var(--hover-color);
  }

  nav .closebtn {
    display: block;
    text-decoration: none;
    color: var(--txt-color);
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  nav .closebtn:hover {
    color: var(--hover-color);
  }

  #icon {
    width: 10px;
    cursor: pointer;
  }

  nav #icon {
    width: 40px;
    position: relative;
    bottom: 49%;
    right: 75%;
  }
}
