* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #edf2fc;
    --txt-color: #212121;
    --hover-color: #ff4321;
    --p-color: #989899;
    --btn-color: #edf2fc;
    --ver:#737373;
    --github:rgb(0, 0, 0);
    --x:rgb(0, 0, 0);
}

.Dark-mode {
    --bg-color: #202124;
    --txt-color: #fff;
    --btn-color: #212121;
    --github:white;
    --x:white;
}
body{
    background-color: var(--bg-color);
}

input:focus{
    outline: none;
}

.info {
    margin-left: 8%;
    margin-top: 5%;
    font-family: 'Courier New', Courier, monospace;
}

.C-info .left-side{
    border: 0.1px solid var(--from-brd-clr);
    background-color: var(--form-bg);
    border-radius: 10px;
    height: fit-content;
    padding-bottom: 10px;
    float: left;
    width: 35%;
    margin-right: 20%;
    
}


.left-side form {
    text-align: center;
    color:var(--txt-color);
    padding: 10%;
    text-align: left;
}
.left-side form input{
    color: black;
    margin-bottom: 20px;
    margin-top: 5px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--txt-color);
    padding: 5px;
}

.left-side form .I-messenge{
    color: var(--bg-color);
    margin-bottom: 10px;
    margin-top: 5px;
    width: 100%;
    height: 150px;
}

.left-side form .I-sent{
    width: 40%;
    border: none;
    background: linear-gradient(to right, #ff4321, #ff846e);
    padding: 10px 18px;
    color: white;
    margin: 30px 0;
    height: 40px;
    border-radius: 5px;
 }

 .left-side form .I-sent:hover{
    background: linear-gradient(to right, #ff4321, #ff7259);
 }

.left-side form .I-reset{
    width: 40%;
    border: none;
    background: linear-gradient(to right, #ff4321, #ff846e);
    padding: 10px 18px;
    color: white;
    margin: 30px 0px;
    height: 40px;
    border-radius: 5px;
 }

 .left-side form .I-reset:hover{
    background: linear-gradient(to right, #ff4321, #ff7259);
 }



.C-info .right-side{
    color: var(--txt-color);
    padding: 20px;
    float: left;
    width: 25%;
}

address{
    color:var(--A-dis);
    margin-top: 10px;
    font-size: 15px;
}

.A-emp{
    color: var(--hover-color);
    font-size: 20px;
}

span{
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 5px;
}

social-links{
    margin-top: 50%;
}
.c-social-links a{
    font-size: 30px;
    color: var(--p-color);
    margin-right: 0px;
    text-decoration: none;
}

.c-social-links .fa-x-twitter:hover {
    color: var(--x);
}

.c-social-links .fa-instagram:hover {
    color: #cd486b;
}

.c-social-links .fa-facebook:hover {
    color: #3b5998;
}

.c-social-links .fa-github:hover {
    color: var(--github);
}

.c-social-links .fa-linkedin:hover {
    color: #0077B5;
}

.C-title{
    font-size: 70px;
}

@media (max-width:500px) {
    .info {
        margin-left: 8%;
        margin-top: 15%;
    }

    .info h1{
        font-size: 100px;
        color: var(--txt-color);
        margin-bottom: 20px;
    }

    .C-info .left-side{
        /* border: 1px solid green; */
        width: 100%;
    }
    .C-info .right-side{
        width: 90%;
    }

    .c-social-links{
        margin-top: 20%;
    }

    .C-title{
        font-size: 50px;
    }

}